/logs/
*.pyc
/venv
/.idea/
*.iml
/__pycache__
.gradle
*.flaskenv
.vagrant/machines/default/virtualbox/private_key
.vagrant
!/app/templates/test.html
*.zip
/.idea
*.log
Проект 4578.xlsx
Проект 47.xlsx
Тестовый проект.xlsx
app/static/images/6/6.png
*.xlsx
*.xlsx
T_Park — копия.db
user_(3)__копия
