{% extends "main_0.html" %}

{%  block app_content %}
    <div>{{ user.id }}</div>
<div>
<table class="table_inter">
<thead>
<tr>
<th>№</th>
<th>Эксперт</th>
{% for parameter in ParName %}
<th>{{ parameter.name }}</th>
{% endfor %}
<th>Вес Эксперта</th>
</tr>
</thead>

<tbody>
    {% for № in № %}#критерии
<tr>
{% if №.*номер критерия* %}
<td>{{ №.id }}</td>
{% else %}
<td> – </td>
{% endif %}
</tr>
    {% endfor %}

    {% for № in № %}
{% if grade. %}
<td>{{ grade. }}</td>
{% else %}
<td> – </td>
{% endif %}
{% if grade. %}
<td>{{ user. }}</td>
{% else %}
<td> – </td>
{% endif %}

{% for i in range(10) %}
{% if user.__dict__['sum_grade_{}'.format(i)] %}
{% if user.__dict__['sum_grade_{}'.format(i)] == 0 %}
<td> — </td>
{% else %}
<td> {{ user.__dict__['sum_grade_{}'.format(i)] }} </td>
{% endif %}
{% endif %}
    {% endfor %}

{% if user.sum_grade_all == 0 %}
<td> — </td>
{% else %}
<td> {{ user.sum_grade_all }} </td>
{% endif %}

</tr>
{% endfor %}
</tbody>
</table>
</div>

<nav aria-label="...">
<ul>
<li>
<a href="{{ prev_url or '#' }}">
<span aria-hidden="true">&larr;</span> Newer posts
</a>
</li>
<li>
<a href="{{ next_url or '#' }}">
Older posts<span aria-hidden="true">&rarr;</span>
</a>
</li>
</ul>
</nav>




{% endblock %}
