{% extends "main_0.html" %}

{%  block app_content %}
    <link rel="stylesheet"  href="expert_grade.css">
    <div class="photo">#Фото участника
    </div>
    <div class="data">
    <table>#Данные участника
        <tr>
        {{ user.fio }}
        </tr>
        <tr>
        {{ user.mycelf }}
        </tr>
        <tr>
        {{ user.team }}
        </tr>
        <tr>
        {{ user.other }}
        </tr>
    </table>
    </div>
    <div class="assessments">#Список критериев
        <table>#Таблица с критериями
        <tbody>
            {% for criterion in criterions %}#Критерии, поменяй на объект в routes
            <tr>
            <td>
                {{ form.номер критерия в бд }}
            </td>
            <td>
                <form action = ../forms.py>
                    <input type="radio">-1
                    <input type="radio">1
                    <input type="radio">2
                    <input type="radio">3

                </form>
            </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>



    </div>


{% endblock %}