@charset "UTF-8";

.table-wrap {
    overflow-x: auto;
}

.table-sort {
    margin: auto;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}

.tbody-table {
    height: 300px;
}

table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
    margin: auto;
}

th {
    transition: all 0.2s ease;
    cursor: pointer;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    background: #D8E6F3;
    margin: auto;
}

th:first-child, td:first-child {
    text-align: center;
}

th.sort,
th.sort {
    position: relative;
}

th.sort[data-order="0"]::after {
    content: url("arrowDown.png");
    position: absolute;
    opacity: 0.2;
    right: 3px;
    transition: all 0.2s ease;
    transform: rotate(0deg);
}

th.sort[data-order="1"]::after,
th.sort[data-order="-1"]::after {
    transition: all 0.2s ease;
    position: absolute;
    right: 3px;
    opacity: 1;
    content: url("arrowDown.png");
}

th.sort[data-order="-1"]::after {
    transform: rotate(360deg);
}

th.sort[data-order="1"]::after {
    transform: rotate(180deg);
}

@media(hover: hover) {
    th.sort:hover {
        opacity: 0.7;
    }
}

.block_1 {
    text-align: center;
}

.img {
    width: 166px;
    height:43px;

}

.show_btn {
    margin: 10px 15px;
    text-decoration: none;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(0, 64, 144, 0.7);
    background: transparent;
    outline: none !important;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block;
    border: 2px solid rgba(0, 64, 144, 0.7);
    border-radius: 10px;
}

.show {
    text-align: center;
    margin: 20px auto;
}

@media(hover: hover) {
    .show_btn:hover {
        background: rgba(0, 64, 144, 0.7);
        color: #fff;
        box-shadow: 0 10px 15px -5px rgba(71, 71, 71, 0.75);
        transform: scale(1.03)
    }
}

.show_btn:active {
    box-shadow: 0 4px 8px rgba(69, 69, 69, 0.77);
    transform: scale(.98);
}

.show_btn:not(active) {
    box-shadow: 0 0 0 0;
    transform: scale(1);
}


.choice {
    border: 2px solid rgba(0, 64, 144, 0.7);
    width: 150px;
    height: 40px;
}

.select {
    width: 130px;
    margin: 0 auto;
}

.wrapper_dropdown  select{
    width: 150px;
    border-radius: 3px;
    appearance: none;            /* remove arrow        */
    -webkit-appearance: none;
    -moz-appearance: none;
    border:0;
    background-color: #AFCDE7;
}

.wrapper_dropdown:hover {
    box-shadow: 0px 0px 3px gray;
}

.wrapper_dropdown select::-ms-expand{
    display: none;
}

.dropdown {
    width: 8px;
    height: 0px;
    background: #AFCDE7;
    position: absolute;
    z-index: -9999;
    right: 6px;
    top: 14px;
    text-align: center;
}

.dropdown:before {
    content: '';
    position: absolute;
    top: -6px;
    border: 1px solid darkblue;

    border-top: 0
}

.dropdown:after {
    content: '';
    position: absolute;
    top: 1px;
    border: 1px solid transparent;
    border-top-color: #AFCDE7;
    border-bottom: 0;
}

.select {
    text-align: center;
}
