@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/****ìåñòî ïîä ñòèëè ëîãî ïîä ðàçíûå ðàçðåø****/
/*ïîä òåñòû íà ðàçðåøåíèå*******************************/
@media screen and (min-device-width: 1440px){
    img{
        width:397px;
        height:123px;
    }

}
@media screen and (max-device-width: 1080px){
    img{
        width: 30%;
        height: 20%;
    }
}

.body{
    background-color: #0088CC;
    margin:0;
}

.table-wrap {
    overflow-x: auto;
    margin: auto;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

a {
    text-decoration: none;
    color: #0044ff;
}

a:hover {
    color: #00289e;
    text-decoration: underline;
}

table {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}


th, td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

th {
    cursor: pointer;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    background: #D8E6F3;
}

th:first-child, td:first-child {
    text-align: left;
}

.block_1 {
    text-align: center;
}

.img {
    width: 166px;
    height:43px;

}

.drop {
    float:right;
}

.mainmenubtn {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.exit {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display:block;
}


th.sort[data-order="1"],
th.sort[data-order="-1"] {
    position: relative;
}

th.sort[data-order="1"]::after,
th.sort[data-order="-1"]::after {
    position: absolute;
    right: 3px;
    top: 41%; /* нужно выровнить */
}

th.sort[data-order="-1"]::after {
    content: url("arrowDown.png");
}

th.sort[data-order="1"]::after {
    content: url("arrowDown.png");
    transform: rotate(180deg);
}
