.buttons {
    margin-right: 25px;
}

.exit_button {
    text-align: center;
    border-radius: 20px;
}

.buttons .exit_button:before {
    left: -30px;
    bottom: 100%;
    transition: all .7s;
}

.buttons .exit_button:hover:before {
    bottom: -50px;
}

.buttons a {
    color: rgba(0, 86, 189, 0.7);
}

.buttons .exit_button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 86, 189, 0.7);
    transition: color .5s;
    text-decoration: none; !important;
}

.buttons .exit_button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: rgba(0, 86, 189, 0.7);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.buttons .exit_button:hover {
    color: #fff;
}
