@charset "windows-1251";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

a{
    text-decoration: none;
    color: #0044ff;
}

a:hover{
    color: #00289e;
    text-decoration: underline;
}

/*под тесты на разрешение*******************************/
@media screen and (min-device-width: 1440px){
    img{
        width:397px;
        height:123px;
    }

}
@media screen and (max-device-width: 1080px){
    img{
        width: 30%;
        height: 20%;
    }
}
/***************************************************/
.shapka{
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: sticky;
}


.podval{
    text-align: left;
    position:fixed;
    left:0;
    bottom:0;
    height:10%;
    width:100%;
    background-color: #1c1919;
    color: #ffffff;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #c3cef8;
    margin:0;
}

.block_1{
    margin-left: 40%;
}

.img{
    width: 166px;
    height:43px;

}


/*********Работа с полями ввода*********/
input {
    border-bottom: 2px solid #000000;
    border-radius: 20px;
    padding: 4px 6px;
}
/******************/
.div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1{
    text-align: center;
}

h2{
    color: #cbc8c8;

}