@charset "UTF-8";

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #e8edff;
    margin: 0;
}

.shapka {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: sticky;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
}

.podval {
    display: flex;
    vertical-align: middle;
    align-items: center;
    text-align: left;
    position:fixed;
    left:0;
    bottom:0;
    height:10%;
    width:100%;
    background-color: #1c1919;
    color: #ffffff;
}

.content {
    justify-content: center;
    vertical-align: middle;
    align-items: center;
}

#p_prldr {
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #AFCDE7;
    z-index: 30;
}

.contpre {
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%; top: 48%;
    margin-left: -125px;
    margin-top: -75px;
    color: #fff;
    font-size: 25px;
    letter-spacing: -2px;
    text-align: center;
    line-height: 35px;}

#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(prldr.svg) center center no-repeat;
    background-size:41px;
    margin: -16px 0 0 -16px;
}

.exit {
    margin-right: 25px;
}

.exit_button {
    text-align: center;
    border-radius: 20px;
}

.exit .exit_button:before {
    left: -30px;
    bottom: 100%;
    transition: all .7s;
}

.exit .exit_button:hover:before {
    bottom: -50px;
}

.exit a {
    color: crimson;
}

.exit .exit_button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid crimson;
    transition: color .5s;
    text-decoration: none; !important;
}

.exit .exit_button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: crimson;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.exit .exit_button:hover {
    color: #fff;
}


