@charset "UTF-8";


.button_date {
    margin: 10px 15px;
    text-decoration: none;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgba(0, 64, 144, 0.7);
    background: transparent;
    outline: none !important;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    display: inline-block;
    border: 2px solid rgba(0, 64, 144, 0.7);
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;

}

@media(hover: hover) {
    .button_date:hover {
        background: rgba(0, 64, 144, 0.7);
        color: #fff;
        box-shadow: 0 10px 15px -5px rgba(71, 71, 71, 0.75);
        transform: scale(1.03)
    }
}

.button_date:active {
    box-shadow: 0 4px 8px rgba(69, 69, 69, 0.77);
    transform: scale(.98);
}
.button_date:focus {
    color: blue;
}

.button_date:not(active) {
    box-shadow: 0 0 0 0;
    transform: scale(1);
}




