{% extends "main_0.html" %}

{% block app_content %}

    <link rel="stylesheet"  href="{{ url_for('static', filename='login.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>

    <div class="content">

        <h1>Добавление эксперта</h1>
        <form action="{{ url_for('main.add_new_expert', project_number=project_number) }}"
              method="post" enctype="multipart/form-data" class="form">
            <div class="form_group">
                <label for="username" class="form_label">ФИО</label>
                <input type="text" name="username" id="username" class="form_input">
            </div>
            <div  class="form_group">
                <label for="email" class="form_label">Email</label>
                <input type="text" name="email" id="email" class="form_input">
            </div>
            <div  class="form_group">
                <label for="weight" class="form_label_weight">Вес</label>
                <input value="1.0" step="0.1" max="2.0" min="0.1" type="number" name="weight" id="weight" class="form_input">
            </div>

            <div class="input__wrapper_2">
                <input  type="file" name="photo" id="input__file_10" class="input input__file" multiple>
                <label for="input__file_10" class="input__file_button_2">
                    <span class="input__file_button_text_2">Загрузить Фотографию</span>
                </label>
            </div>

            <div class="submit">
                <input type="submit" name="submit" class="form_button">
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='auth/add_new.js') }}"></script>
{% endblock %}
