{% extends "base.html"%}

{%  block app_content %}

    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.2.2.min.js') }}"></script>

    <div>
        <table class="table_sort">
            <thead>
            <tr>
                <th>№</th>
                <th>Участник</th>
                <th>Дата рождения</th>
                <th>Команда</th>
                {% for parameter in ParName %}
                <th>{{ parameter.name }}</th>
                {% endfor %}
                <th>Общая оценка</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
                <tr>
                    {% if user.id %}
                        <td>{{ user.id }}</td>
                    {% else %}
                        <td> – </td>
                    {% endif %}
                    {% if user.username %}
                        <td>{{ user.username }}</td>
                    {% else %}
                        <td> – </td>
                    {% endif %}
                    {% if user.birth_date %}
                        <td>{{ user.birth_date }}</td>
                    {% else %}
                        <td> – </td>
                    {% endif %}
                    {% if user.team %}
                        <td>{{ user.team }}</td>
                    {% else %}
                        <td> – </td>
                    {% endif %}

                    {% for i in range(10) %}
                        {% if user.__dict__['sum_grade_{}'.format(i)] %}
                            {% if user.__dict__['sum_grade_{}'.format(i)] == 0 %}
                                <td> — </td>
                            {% else %}
                                <td> {{ user.__dict__['sum_grade_{}'.format(i)] }} </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if user.sum_grade_all == 0 %}
                        <td> — </td>
                    {% else %}
                        <td> {{ user.sum_grade_all }} </td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <nav aria-label="...">
        <ul>
            <li>
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li>
                <a href="{{ next_url or '#' }}">
                    Older posts<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>




{% endblock %}
