{% extends "main_0.html" %}

<!---->
{% block app_content %}
    <link rel="stylesheet"  href="{{ url_for('static', filename='viewer_main.css') }}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='viewer_settings.css') }}">
    <div class="content">
        <h1 class="title">Главная страница</h1>


            <div class="button" onclick="location.href='{{ url_for('main.viewer_users_table',
            project_number=project.number) }}'">
                <span class="input__file_button_text_2">Пользователи</span>
            </div>


    <script src="{{ url_for('static', filename='admin_main.js') }}"></script>


{% endblock %}