{% extends "main_0.html" %}

{%  block app_content %}

    <link rel="stylesheet"  href="{{ url_for('static', filename='admin_table.css')}}">
    <div class="title">
        <div class="block">
            <h1>{{ project.name }}</h1></div>
        <div class="block">
            <h1 style="text-align:center">Участники</h1></div>
        <div class="buttons">
            <div class="show_btn" onclick="location.href='{{ url_for('main.viewer_settings', project_number=project.number, viewer_id=project.viewer_id) }}'">
                <span>Настройки</span>
            </div>
        </div>
    </div>
    <div class="table-wrap">

        <table class="table-sort">
            <thead>
            <tr>
                <th id="project_id" class="sort" data-order="0" onclick="sort(this.id,
                        {{ project_number }})">ID</th>
                <th id="username" class="sort" data-order="0"
                    onclick="sort(this.id, {{ project_number }})">ФИО</th>
                <th id="birthday" class="sort dropdown_2" data-order="0">Возраст
                    <input type="hidden" name="birthdays" id="birthdays" value="–">
                    <ul class="dropdown-menu">
                        <li project_number="{{ project_number }}" id="age_sort" type_sort="birthday"
                            onclick="age_sort({{ project_number }}, 1)">По убыванию</li>

                        <li project_number="{{ project_number }}" id="min_age" type_sort="age">
                            <label for="min_age_value">От&nbsp;&nbsp;</label>
                            <input type="number" id="min_age_value" min="0" max="200"
                                   step="1" class="age"></li>

                        <li project_number="{{ project_number }}" id="max_age" type_sort="age">
                            <label for="max_age_value">До&nbsp;&nbsp;</label>
                            <input type="number" id="max_age_value" min="0" max="200"
                                   step="1" class="age"></li>

                        <li project_number="{{ project_number }}" id="submit_sort_age"
                            type_sort="birthday" onclick="age_sort({{ project_number }})">
                            Сортировать</li>

                        <li project_number="{{ project_number }}"
                            type_sort="birthday" onclick="age_sort_delete({{ project_number }})">
                            Сбросить сортировку</li>
                    </ul>
                </th>
                <th id="team" class="sort dropdown_2" data-order="0">Команда
                    <input type="hidden" name="teams" id="teams" value="Все команды">
                    <ul class="dropdown-menu"
                        onclick="show_more(0, {{ project_number }})">
                        {% for team in teams %}
                            <li project_number="{{ project_number }}" type_sort="team"
                                onclick="$('#teams').attr('value', `{{ team }}`)">{{ team }}</li>
                        {% endfor %}
                    </ul>
                </th>
                <th id="region" class="sort dropdown_2" data-order="0">Регион
                    <input type="hidden" name="regions" id="regions" value="–">
                    <ul class="dropdown-menu"
                        onclick="show_more(0, {{ project_number }})">
                        {% for region in regions %}
                            <li project_number="{{ project_number }}" type_sort="region"
                                onclick="$('#regions').attr('value', `{{ region }}`)">{{ region }}</li>
                        {% endfor %}
                    </ul>
                </th>

                {% set i=namespace(a=0) %}
                {% for parameter in ParName %}
                    <th id="sum_grade_{{ i.a }}" class="sort" data-order="0"
                        onclick="sort(this.id, {{ project_number }})">{{ parameter.name }}</th>
                    {% set i.a = i.a + 1 %}
                {% endfor %}
                <th id="sum_grade_all" data-order="0" class="sort"
                    onclick="sort(this.id, {{ project_number }})">Общая оценка</th>
            </tr>
            </thead>

            <tbody id="tbody" class="tbody-table">
            </tbody>

        </table>

    </div>

    <div class="show">
        <a id="show_more" class="show_btn" href="javascript:show_more(2, {{ project_number }})">
            Показать больше</a>
        <a id="show_all" class="show_btn" href="javascript:show_more(10000, {{ project_number }})">
            Показать все</a>
    </div>
    <br>


    <script src="{{ url_for('static', filename='admin_users_table.js') }}"></script>
    <script>
        show_more(0, {{ project_number }})
    </script>

{% endblock %}
