{% extends "base.html"%}

{%  block app_content %}

    <div>
        <table>
            <tr>
                <th>№</th>
                <th>Участник</th>
                <th>Дата рождения</th>
                <th>Команда</th>
                {% for parameter in ParName %}
                <th>{{ parameter.name }}</th>
                {% endfor %}
                <th>Общая оценка</th>
            </tr>

            {% for user in users %}
                <tr>
                    {% if user.id %}
                        <td>{{ user.id }}</td>
                    {% else %}
                        <td> – </td>
                    {% endif %}
                    {% if user.username %}
                        <td>{{ user.username }}</td>
                    {% else %}
                        <td> – </td>
                    {% endif %}
                    {% if user.birth_date %}
                        <td>{{ user.birth_date }}</td>
                    {% else %}
                        <td> – </td>
                    {% endif %}
                    {% if user.team %}
                        <td>{{ user.team }}</td>
                    {% else %}
                        <td> – </td>
                    {% endif %}

                    {% for i in range(10) %}
                        {% if user.__dict__['sum_grade_{}'.format(i)] %}
                            {% if user.__dict__['sum_grade_{}'.format(i)] == 0 %}
                                <td> — </td>
                            {% else %}
                                <td> {{ user.__dict__['sum_grade_{}'.format(i)] }} </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if user.sum_grade_all == 0 %}
                        <td> — </td>
                    {% else %}
                        <td> {{ user.sum_grade_all }} </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
