{% extends "main_0.html" %}

{%  block app_content %}

    <link rel="stylesheet"  href="{{ url_for('static', filename='admin_table.css')}}">
    <div class="title">
        <div class="block">
            <h1>{{ project.name }}</h1></div>
        <div class="block">
            <h1 style="text-align:center">Участники</h1></div>
    </div>
    <div class="table-wrap">

        <table class="table-sort">
            <thead>
            <tr>
                <th id="project_id" class="sort" data-order="0" onclick="sort(this.id,
                        {{ project_number }})">ID</th>
                <th id="username" class="sort" data-order="0"
                    onclick="sort(this.id, {{ project_number }})">ФИО</th>
                <th id="weight" class="sort" data-order="0"
                    onclick="sort(this.id, {{ project_number }})">Вес</th>
                <th id="quantity" class="sort" data-order="0"
                    onclick="sort(this.id, {{ project_number }})">Количество оценок</th>


            </tr>
            </thead>

            <tbody id="tbody" class="tbody-table">
            </tbody>

        </table>

    </div>

    <div class="show">
        <a id="show_more" class="show_btn" href="javascript:show_more(10, {{ project_number }})">
            Показать больше</a>
        <a id="show_all" class="show_btn" href="javascript:show_more(10000, {{ project_number }})">
            Показать все</a>
    </div>

    <script src="{{ url_for('static', filename='admin_experts_table.js') }}"></script>
    <script>
        show_more(0, {{ project_number }})
    </script>

{% endblock %}
