{% extends "main_0.html"%}

{%  block app_content %}

    <link rel="stylesheet"  href="{{ url_for('static', filename='admin_table.css')}}">

    <div class="table-wrap">
        <table class="table-sort">
            <thead>
            <tr>
                <th id="id" class="sort" data-order="0" onclick="sort(this.id)">№</th>
                <th id="username" class="sort" data-order="0" onclick="sort(this.id)">Участник</th>
                <th id="birthday" class="sort" data-order="0" onclick="sort(this.id)">Дата рождения</th>
                <th id="team" class="sort" data-order="0" onclick="sort(this.id)">Команда</th>

                {% set i = namespace(a=0) %}
                {% for parameter in ParName %}
                    <th id="sum_grade_{{ i.a }}" class="sort" data-order="0" onclick="sort(this.id)">{{ parameter.name }}</th>
                    {% set i.a = i.a + 1 %}
                {% endfor %}
                <th id="sum_grade_all" data-order="0" class="sort" onclick="sort(this.id)">Общая оценка</th>
            </tr>
            </thead>

            <tbody id="tbody" class="tbody-table">
            {% set i.a = 0 %}
            {% for user in users %}

                <tr id="number_str{{ i.a }}" onclick="location.href='{{ url_for('main.user_grades_table', user_id=user.id) }}'">
                    <td id="id{{ i.a }}">
                        {% if user.id %}
                            {{ user.id }}
                        {% else %}
                            –
                        {% endif %}
                    </td>

                    <td id="username{{ i.a }}">
                        {% if user.username %}
                            {{ user.username }}
                        {% else %}
                            –
                        {% endif %}
                    </td>

                    <td id="birthday{{ i.a }}">
                        {% if user.birthday %}
                            {{ user.birthday.strftime('%d.%m.%Y') }}
                        {% else %}
                            –
                        {% endif %}
                    </td>

                    <td id="team{{ i.a }}">
                        {% if user.team %}
                            {{ user.team }}
                        {% else %}
                            –
                        {% endif %}
                    </td>
                    {% for j in range(10) %}
                        {% if user.__dict__['sum_grade_{}'.format(j)] %}
                            <td id="sum_grade_{{ j }}{{ i.a }}">
                                {% if user.__dict__['sum_grade_{}'.format(j)] == 0 %}
                                    —
                                {% else %}
                                    {{ user.__dict__['sum_grade_{}'.format(j)] }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}

                    <td id="sum_grade_all{{ i.a }}">
                        {% if user.sum_grade_all == 0 %}
                            —
                        {% else %}
                            {{ user.sum_grade_all }}
                        {% endif %}
                    </td>
                </tr>

                {% set i.a = i.a + 1 %}

            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="show">
        <a class="show_btn" href="javascript:show_more(2)">
            Показать больше</a>
        <a class="show_btn" href="javascript:show_more(10000)">
            Показать все</a>
    </div>

    <script src="{{ url_for('static', filename='admin_table.js') }}"></script>
    <script>
        show_more(0)

    </script>

{% endblock %}
