{% extends "main_1.html" %}

<!--Расположение кнопок при вертикальном расположении экрана ориентированно налево,
Необходимо придумать как в шаблоне убирать кнопки не подходящие по уровню доступа-->

{% block app_content%}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

    <div class="text">
        <h1 style="font-size: 3.5em">Система оценки</h1>
    </div>


    <!--Временный ссылки-->
    <div class="content">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <div class="buttons">
            <a class="button" href="{{ url_for('main.admin_users_table', project_number=1, admin_id=1) }}">Таблица участников</a>
            <a class="button" href="{{ url_for('main.expert', project_number=1, expert_id=1) }}">Выставление оценки</a>
            <a class="button" href="{{ url_for('main.export_excel', project_number=1) }}" target="_blank">Скачать отчёт</a>
            <a class="button" href="{{ url_for('main.create_project', viewer_id=1) }}">Создание проекта</a>
            <a class="button" href="{{ url_for('main.admin_waiting_users', admin_id=1) }}">Распределение</a>
        </div>

    </div>
{% endblock %}
