{% extends "main_0.html" %}

{% block app_content %}
    <link rel="stylesheet"  href="{{ url_for('static', filename='viewer.css') }}">
    <div class="content">
        <h1 class="title">Создание проекта</h1>
        <br>
        <form style="position:relative;" action="{{ url_for('main.create_project', viewer_id=viewer_id) }}" method="POST"
              enctype="multipart/form-data">
            <div class="block">
                <div class="block_1">

                    <div class="add_new">
                        <div>
                            <div class="block_4" >
                                <lable>
                                    <input name="name" id="name" type="text" placeholder="Название проекта" class="input_text_1">
                                </lable>
                            </div>
                            <div id="block_4_1" class="block_4">

                                <label for="name0"></label>
                                <input id="name0" name="name0" size="16" type="text" value="" class="input_text_2"
                                       placeholder="Критерий 1"/>
                                <div class="block_5">
                                <input id="minus0" class="button" type="button" value="-">
                                <input class="crit" type="number" id="weight0" value="1.0" step="0.1" max="2.0" min="0.1"  />
                                <input id="plus0" class="button" type="button" value="+">
                                </div>
                            </div>
                        </div>
                        <input type="button"  class="add_1" id="button_add" value="Добавить">
                        <input type="button"  class="add_2" id="button_delete" value="Удалить">
                        <br>
                    </div>
                </div>

                <div class="block_2">
                    <div class="input__wrapper">
                        <input name="logo" type="file" id="input__file" class="input input__file" multiple>
                        <label for="input__file" class="input__file-button">
                            <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{{ url_for('static', filename='/download.png') }}" alt="Выбрать файл" width="25"></span>
                            <span class="input__file-button-text">Загрузить Логотип</span>
                        </label>
                    </div>
                    <div class="input__wrapper">
                        <input  type="file" name="users" id="input__file_2" class="input input__file">
                        <label for="input__file_2" class="input__file-button">
                            <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{{ url_for('static', filename='/download.png') }}" alt="Выбрать файл" width="25"></span>
                            <span class="input__file-button-text">Загрузить Участников</span>
                        </label>
                    </div>
                    <div class="input__wrapper">
                        <input  type="file" name="experts" id="input__file_3" class="input input__file">
                        <label for="input__file_3" class="input__file-button">
                            <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{{ url_for('static', filename='/download.png') }}" alt="Выбрать файл" width="25"></span>
                            <span class="input__file-button-text">Загрузить Экспертов</span>
                        </label>
                    </div>
                    <div class="input__wrapper">
                        <input  type="file" name="users_photo" id="input__file_4" class="input input__file" multiple>
                        <label for="input__file_4" class="input__file-button">
                            <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{{ url_for('static', filename='/download.png') }}" alt="Выбрать файл" width="25"></span>
                            <span class="input__file-button-text">Загрузить Фото Участников</span>
                        </label>
                    </div>
                    <div class="input__wrapper">
                        <input  type="file" name="experts_photo" id="input__file_5" class="input input__file" multiple>
                        <label for="input__file_5" class="input__file-button">
                            <span class="input__file-icon-wrapper">
                                <img class="input__file-icon"
                                     src="{{ url_for('static', filename='/download.png') }}"
                                     alt="Выбрать файл" width="25"></span>
                            <span class="input__file-button-text">Загрузить Фото Экспертов</span>
                        </label>
                    </div>
                </div>
                <input type="number" name="quantity" id="quantity" value="1"
                       style="visibility: hidden" />
                <div class="container">
                    <input type="submit" value="Создать проект" class="btn btn-5" >
                </div>
            </div>


        </form>


    </div>

    <script src="{{ url_for('static', filename='create_project.js') }}"></script>
    <script>$('#name').css('width', $('#block_4_1').width())</script>
{% endblock %}