{% extends "main_0.html" %}


{%  block app_content %}

    <link rel="stylesheet"  href="{{ url_for('static', filename='expert_grade.css')}}">

    <div class="content">
        <div class="container" style="width: 100%;">
            <div class="data">
                {% set path='/images/'+ project_number|string +'/users/'+ user.project_id|string +'.png' %}
                <img id="img" style="width: 100px; height: 150px" src="{{ user.photo }}" alt="">
                <table style="margin: 10px;">
                    <tr>
                        <td>ID: {{ user.project_id }}</td>
                    </tr>
                    <tr>
                        <td>ФИО: {{ user.username }}</td>
                    </tr>
                    <tr>
                        <td style="text-align: left" >Возраст: <span id="birthday"></span></td>
                    </tr>
                    <tr>
                        <td>Команда: {{ user.team }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="assessments">

            <form  action="" method="post" class="form">
                {{ form.hidden_tag() }}
                {% set i = namespace(a=0) %}
                {% for parameter in parameters %}
                    <div class="crit">
                        <div style="text-align: left; margin-left: 25px; margin-bottom: 10px">
                            {{ parameter.name }}</div>
                        <div style="justify-content: space-evenly; display: flex;">
                            {% for value in form.__dict__['parameter_{}'.format(i.a)] %}
                                <div class="form_radio_btn">
                                    {{ value }}
                                    {{ value.label }}
                                </div>
                                {% for error in form.value %}
                                    <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% set i.a = i.a + 1 %}
                {% endfor %}
                {{ form.comment(class="comment") }}
                <div class="submit">
                    {{ form.submit() }}
                    <a class="form_button_cancel" href="{{ url_for('main.expert',
                           project_number=project_number, expert_id=expert_id) }}">
                        Отменить
                    </a>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='expert_grade.js') }}"></script>
    <script>
        $('#birthday').append(Math.floor((new Date() - new Date(`{{ user.birthday }}`))
            / (24 * 3600 * 365.25 * 1000)))
        let src = $('#img').attr('src')
        src = src.substr(0, 25) + 'uc' + src.substr(29)
        $('#img').attr('src', src)
    </script>

{% endblock %}