<!DOCTYPE html>
<html lang="ru">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main_0.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename="favicon.ico") }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Ассессмент 2.0</title>
    {% endif %}

    <script>
        $(window).on('load', function () {
            setTimeout( () => { $('.preloader').addClass("preloader-remove") }, 3000);
        });
    </script>

</head>
<body id="body">

<div class="preloader">
    <div class="preloader-text">
        Команда разработчиков&nbsp;<a href="mailto:eternal_programmers@yandex.ru"
                                      class="text_advertising" data-back="Нажмите" data-front="Ссылка на почту"></a>

    </div>
    <div class="preloader-5"></div>
</div>

<div class="maket">
    <div class="shapka" >
        <img class="logo" src="{{ url_for('static', filename='logo_21.png') }}" alt="">
        <div class="buttons">
            {% if mail is not none %}
                <a class="button" href="{{ url_for('auth.login') }}?mail={{ mail }}">
                    Вход
                </a>
            {% else %}
                <a class="button" href="{{ url_for('auth.login') }}">
                    Вход
                </a>
            {% endif %}
            <a class="button" href="{{ url_for('auth.register') }}">
                Регистрация
            </a>
        </div>
    </div>
    <div class="content">
        {% block app_content %}{% endblock %}
    </div>
    <div class="footer">
        <p id="footer" style="color: #a8a8a8; margin-left: 10px; font-size: 14px;">&#169; 2021 Система оценки Дмитрия Сергеева </p>
        <p></p>
    </div>
</div>

</body>

</html>

