<html lang="ru">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main_0.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename="favicon.ico") }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Ассессмент 2.0</title>
    {% endif %}

    <script>
        $(window).on('load', function () {
            setTimeout( () => { $('.preloader').addClass("preloader-remove") }, 100);
        });
    </script>

</head>
<body id="body">

<div class="preloader">
    <div class="preloader-5"></div>
</div>

<div class="maket">
    <div class="shapka" >
        <img class="logo" src="{{ url_for('static', filename='logo_21.png') }}" alt="" >
        {% if title != 'Авторизация' and title != 'Регистрация' and (auth or auth is not defined) %}
            <div class="exit">
                <a class="exit_button" href="{{ url_for('auth.logout') }}">
                    Выйти
                </a>
            </div>
        {% else %}
            <div class="buttons">
                <a class="button" href="{{ url_for('auth.login') }}">
                    Вход
                </a>
                <a class="button" href="{{ url_for('auth.register') }}">
                    Регистрация
                </a>
            </div>
        {% endif %}
    </div>

    {% block app_content %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="message {{ category }}"><h4>{{ message }}</h4></div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <div id="notification" class="kdnotification main">
        <div class="kdnotification-title"></div>
    </div>

</div>

<div class="button_back" onclick="history.back();"><span>Назад</span></div>

<script type="text/javascript">
    setTimeout(() => {
        $('.message').fadeOut(300)
    }, 3000)

</script>

</body>

</html>
