{% extends "main_0.html" %}

{% block app_content %}
    <link rel="stylesheet"  href="{{ url_for('static', filename='.css')}}">
    <h1>Создание нового проекта</h1>

    <form action="" method="post"  >
        {{ form.hidden_tag() }}
        <p>
            {{ form.project_name.label }}<br>
            {{ form.project_name(size=32) }}<br>
            {% for error in form.project_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
        <!--Тут необходимо форму для ввода лого написать.
            {{ form.project_img.label }}<br>
            {{ form.project_img }}<br>
        ******************-->
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}