{% extends "main_0.html" %}

{%  block app_content %}

    <link rel="stylesheet"  href="{{ url_for('static', filename='admin_table.css')}}">
    <link rel="stylesheet"  href="{{ url_for('static', filename='admin_waiting_users.css')}}">
    <script src="{{ url_for('static', filename='admin_viewers.js') }}"></script>

    <div class="container">
        <h1 style="margin: 10px auto; text-align: center;">Не добавленные к Проекту Заказчики</h1>

        <div class="table-wrap">
            <table class="table-sort">
                <thead>
                <tr>
                    <th id="username" class="sort" data-order="0"
                        onclick="sort(this.id)">ФИО</th>
                    <th id="email" class="sort" data-order="0"
                        onclick="sort(this.id)">Email</th>
                    <th id="phone_number" class="sort" data-order="0"
                        onclick="sort(this.id)">Номер телефона</th>
                    <th id="expert_id" class="sort" data-order="0"
                        onclick="sort(this.id)">ID как эксперта</th>
                </tr>
                </thead>

                <tbody id="tbody" class="tbody-table">

                </tbody>
            </table>
        </div>

        <div class="show">
            <a id="show_more" class="show_btn" href="javascript:show_more(10)">
                Показать больше</a>
            <a id="show_all" class="show_btn" href="javascript:show_more(10000)">
                Показать все</a>
        </div>
    </div>

    <script>
        show_more(0)
    </script>

{% endblock %}