{% extends "main_0.html" %}


{% block app_content %}
    <link rel="stylesheet"  href="{{ url_for('static', filename='viewer_main.css') }}">
    <div class="content">
        <h1 class="title">Проекты</h1>

        <div class="block_new" onclick="location.href='{{ url_for('main.create_project') }}'">
            <div class="text_new">
                <span class="text">Создать новый проект</span>
            </div>
        </div>

        {% for project in projects %}
            <div class="block" onclick="location.href='{{ url_for('main.viewer_settings', project_number=project.number) }}'">
                <div class="block_logo">
                    {% set path = 'images/' + project.number|string + '/' + project.number|string + '.png' %}
                    <img src="{{ url_for('static', filename=path) }}" class="profil_image" alt="">
                </div>
                <div date="{{ project.end.strftime('%d.%m.%Y') }}" class="data">
                    <h2 style="font-weight: normal; text-align: center">
                        {{ project.name }}
                    </h2>
                </div>

                <div class="date">
                    <span>{{ project.start.strftime('%d.%m.%y') }} – {{ project.end.strftime('%d.%m.%y') }}</span>
                </div>

            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='viewer_main.js') }}"></script>
    <script>
        function end_project (element) {

            let date = new Date(), pr_date
            let project_date = element.attr('date').split('.')

            pr_date = new Date(project_date[2], project_date[1] - 1, project_date[0])
            if (pr_date < date) {
                element.append('<div style="text-align: center; color:crimson">Проект завершён</div>')
            }
        }

        $('.data').each(function (index, element) {
            end_project($(element))
        })

        $('.profil_image').each(function (index, element) {
            $(element).css('max-height', document.documentElement.clientHeight * 0.2 + 'px')
        })
    </script>
{% endblock %}