{% extends "main_0.html" %}


{% block app_content %}
    <link rel="stylesheet"  href="{{ url_for('static', filename='viewer_main.css') }}">
    <div class="content">
        <h1 class="title">Проекты</h1>

        <div class="block_new" onclick="location.href='{{ url_for('main.create_project', viewer_id=viewer.id) }}'">
            <div class="text_new">
                <span class="text">Создать новый проект</span>
            </div>
        </div>

        {% for project in projects %}
            <div class="block" onclick="location.href='{{ url_for('main.viewer_settings', project_number=project.number, viewer_id=project.viewer_id) }}'">

                <div class="block_logo">
                    {% set path = 'images/' + project.number|string + '/logo.webp' %}
                    <img src="{{ url_for('static', filename=path) }}" class="profil_image" alt="">
                </div>

                <div class="data">
                    <span>
                        {{ project.name }}
                    </span>
                </div>

                <div class="date">
                    <span >{{ project.start.strftime('%d.%m.%y') }} – {{ project.end.strftime('%d.%m.%y') }}</span>
                </div>

            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='viewer_main.js') }}"></script>

{% endblock %}