{% extends "main_0.html" %}


{% block app_content %}
    <link rel="stylesheet"  href="{{ url_for('static', filename='viewer_main.css') }}">
    <div class="content">
        <h1 class="title">Проекты</h1>
        <br>
        <div class="block_new">
            <div class="text_new">
                <span>Создать новый проект</span>
            </div>
        </div>


        <div class="block">



            <div class="block_logo">
                <span class="">
                 project.name
            </span>
            </div>
            <div class="text">
            <span>
                 project.name
            </span>


                <div class="block_data">
                <span class="">
                 project.name
            </span>
                </div>

            </div>
        </div>


    </div>

    <script src="{{ url_for('static', filename='viewer_main.js') }}"></script>

    >>>>>>> origin/Egor
{% endblock %}