{% extends "main_0.html" %}


{%  block app_content %}

    <link rel="stylesheet"  href="{{ url_for('static', filename='viewer_settings.css')}}">
    <h1 style="text-align:center">Настройки</h1>
    <div class="">
        <a class="button">Пользователи</a>
        <a class="button">Эксперты</a>
    </div>

    <div class="date">
        <input type="date" name="calendar" value="{{ project.start.strftime('%d.%m.%y') }}" id="date_start" class="button_date">
        <input type="date" name="calendar" value="{{ project.end.strftime('%d.%m.%y') }}" id="date_end" class="button_date">
    </div>


    <script src="{{ url_for('static', filename='viewer_settings.js') }}"></script>


{% endblock %}

